<app-generic-list [list]="movies">


    <div content>

        <div *ngFor="let movie of movies; let index = index" class="movie-container">
            <div>
               {{index}}) {{movie.title | lowercase}}
               <button style="margin-left: 5rem" (click)="remove(index)" > Remove </button>
            </div>
            <div>        
                {{movie.releaseDate | date:"dd-MM-yyyy" | uppercase}}
            </div>
            <div>
                {{movie.price | currency}}
            </div>
        </div>

    </div>

</app-generic-list>

